<% provide(:title, "О Нас") %>
 <h1>О нас</h1>
 <br>
 <div class="about-info">
 <p>
      Огромный выбор свежей, мороженой, соленой, вяленой рыбы, крабов, креветок, икры на развес, раки и консервы в ассортименте. Рыба собственного горячего копчения на стружке ольхи. </p>
<p>Мы развиваем ассортимент, тщательно отбирая поставщиков, с трепетом относимся к качеству поставляемой продукции и следуем принципам вкусной и полезной пищи.</p>
<p>Хранение продукции на складах осуществляется с полным ветеринарным контролем и соблюдением всех температурных режимов.</p>
</div>