<% provide(:title, "HoReCa | Доставка") %>



   <!-- 

    <div class="modal-wr success-popup">
        <div class="modal">
            <span class="close">
                <img src="/assets/horeca/images/cross.png">
            </span>
            <p>
                Ми раді, що Ви вирішили стати клієнтом доставки від METRO. <br/> Наш менеджер зв’яжеться з вами протягом дня. <br /> Дякуємо за довіру!
            </p>
            <button>Закрити</button>
        </div>
    </div>

-->



<div class="headline">
 <h1>FullFishHouse - HoReCa. </h1>
</div>


<div class="horeca-body">

    <ol>
<li>Менеджер поможет подобрать вам наиболее подходящую продукцию для Вашего заведения или мероприятия - вне зависимости от масштаба. </li>

<li>Контролируем качество на всех этапах производства продуктов питания, их хранения и доставки.</li>

<li>Есть ветеринарные свидетельства, сертификаты качества и соответствия продуктов.</li>

<li>Оплата удобным для вас способом: карта или безналичный расчет.</li>

<li>Предоставляем полный пакет сопроводительной документации.</li>

<li>Рыба и морепродукты могут быть очищены, нарезаны и приготовлены.</li>


<li>Наш персональный менеджер сформирует перечень необходимых продуктов, а наша служба доставит свежее прямо к двери Вашего заведения. С нами Вы сможете экономить время на организации закупок до Вашего заведения и сфокусироваться на том, что действительно важно - на развитии Вашего бизнеса и Ваших гостях!
</li>
</ol>
    </div>

<div class="headline">
 <h1>Желаете стать клиентом доставки?</h1>
</div>



<div class="contact-form">

                <div class="form-horeca">

                    <form action="/ua/horeca/SaveApplication" class="form-horeca form-horeca-bottom" id="form-horeca-bottom" style="float:left;">
                        <p>
                           Отправьте онлайн заявку, и наш менеджер свяжется с Вами для обсуждения деталей потенциального сотрудничества.

                        </p>
                        <div>
                            <input type="text" name="name" placeholder="Ваша фамилия и имя" class="required">
                            <input type="text" name="phone" id="phone" placeholder="Контактный телефон" class="required phone">
                        </div>
                        <div>
                            <input type="text" name="company" placeholder="Название заведения" class="required">
                            <input type="text" name="email" id="email" placeholder="example@mail.com" class="required mail">
                        </div>

                       
                            <div class="select">
                                <span class="select-btn"></span>
                                <input type="text" name="city" id="city" placeholder="Город" class="required city" autocomplete="off">
                            </div>

                        <div class="submit-wr">
                            <button type="submit" class="submit-horeca" id="submit-horeca-bottom">Стать клиентом</button>
                           
                        </div>
                    </form>

                  <!--    <span>или</span>-->


                    <div class="right" style="float:right;">
                        <p>Обратитесь к нам по телефону</p>

                        <div>
                            <span>0-800-501-401</span>
                            <a href="https://www.facebook.com/groups/1678154219116355/about/" target="_blank" class="facebook"><img src="/assets/horeca/images/facebook.png"> HoReCa Full Fish House</a>
                        </div>

                        <p class="zakaz-link">Заказываете для личных нужд? <a href="/contact" target="_blank">Контакты</a></p>
                    </div>

                    </div>
     </div>             