<hr>
<footer class="py-5 bg-dark">
      <div class="container">
        <small>
    Fishhouse Харьков © 2017
  </small>

    <ul>
      
      <li>К началу
 
         <a href=#top class=back-to-top> 
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </div>
      <!-- /.container -->
    </footer>