<h1>FULL FISH HOUSE </h1>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><%= link_to "Контакты", contact_path %></li>
  <li><%= link_to "О нас", about_path %></li>
</ul>

<hr>