<h2>Спасибо за ваше сообщение!</h2>

<p>Мы обязательно рассмотрим вашу заявку и свяжемся с Вами!</p>


<%= link_to 'Вернуться к категориям', categories_path %> или <%= link_to "перейти к разделу 'Контакты'", contact_path, class: 'nav' %>