# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4406d2c301d972bda5daed0105def951f87928655c5ce95d5d02b1498469d0afb9add3e687057a4a4cce35c6750d50d6a155875917dc6011f29930362ff96819

test:
  secret_key_base: 5d27ea03c8e997f154d2766f84077430287a50172088b9e7d3c579f603398b902f32cec352b3a664c6b00994b6a7c3cea085ba159c5362e7d549880401fb72ff

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
