


html, body {min-height: 100%;}



.breadcrumb {
	/*centering*/
	

	overflow: hidden;
	
	
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 13px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 20px 0 20px;
	background: black;
	position: relative;
}

.breadcrumb a:hover {
	color:#808080;
}




