
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1440px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1025px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 1024px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 568px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 567px)  { @content ; }

  }
}
li a:hover {
    color: #958f8f;
    text-decoration: underline;
}

    /* D E S K T O P */
@include breakpoint(desktop) {
 .form-horeca, .right {
        ;
  }

}
/* L A P T O P */
@include breakpoint(laptop) {
 .form-horeca, .right {
       
        display:inline;
  }
  .map-responsive {
  min-width:100%;
  }
  .about {
  width:70%;
  }
  .about p {
      font-size: 22px;
  }
   #header li {
         
  }
   #deskmenu {
  
  }
  .header {
  font-size: 24px;
margin: 20px 50px 30px 50px;
  }
  #footer p {
  font-size:24px;
  }

}
    /* T A B L E T */
@include breakpoint(tablet) {
 .form-horeca, .right {
        display:inline-block;
        width:100%;
  }
  .contact-form {
  display:inline;
  }
  #header {

  }
  #deskmenu {
  
  }
  .header {
  margin: 20px 30px 30px 30px;
  }
}

    /* P H A B L E T */
@include breakpoint(phablet) {
   deskmenu {
        display:inline;
  }
 
}
    /* M O B I L E */
@include breakpoint(mobileonly) {
  #footer {

  }

  #maincontent {
    margin-top: 100px;
  }
  .logo-right a {
  font-size:19px;
  }
  #header {

  margin:0;
  }
  .header {
margin: 20px 20px 30px 20px;  }
}








.navbar-brand, h1 {
    font-family: 'Open Sans', sans-serif;
 }

.social p {
  color: white;
  font-size: 18px!important;
  text-align:center;
}








#header{
z-index: 999999;
position:fixed;
background-color: #000000;
height: 60px;
    width: 100vw;
    top: 0;

    margin: 0;
}

/* NAVIGATION LINKS RIGHT */
navright {
  float:right;
}

ul {
    list-style-type: none;
    
    padding: 0;
    
    
}


#header li ~ li {
padding-left: 16px;
}


li a {
    
    color: white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    
}  

#header li.active a {
    text-decoration:underline;
}

 @media (min-width:475px){
     #deskmenu{
        display:block;
        
        
    }
}




@media only screen and (max-width: 519px) { 
  #deskmenu { 
    display: none; 
  } 
}



@media screen and (min-width: 520px) {
  #menu  { display: none; 
  }
}




@media screen and (max-width: 450px) {
  .overlay a {font-size: 20px}
  .social p {font-size:13px;}
  .overlay .closebtn {
    font-size: 40px;
    color:white;
  }
}


@media screen and (min-width: 540px) {
  #menu  { display: none; 
  }
  .overlay{
  display:none!important;
  }
  a.closebtn {
  color:white;
  }

}



/* OVERLAY MENU */


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000000;
    z-index: 164534;
    top: 0;
    left: 0;
 
    overflow-y: none;
   
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.overlay-content {
  
    position: relative;
    top: 15%;
    width: 100%;
    
    
}


.overlay a {
    
    
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    transition: 0.6s;
    padding-left: 20px;
    -webkit-font-smoothing: antialiased;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-decoration: underline;
}

.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 19px;
    padding: 20px
}


.overlay .social {

margin:20px;
font-size: 18px;
font-weight: 100;
word-spacing: 10px;
-webkit-font-smoothing: antialiased;
position: fixed;
bottom: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 30px;
    top: 10px;
    right: 20px;
  }
}

#menu {
    float:right;
    color:white;
  font-size: 19px;
    
    
    z-index: 0;
    
    -webkit-font-smoothing: antialiased;
}



@media screen and (max-width: 800px) {
  .static h1 {font-size: 36px}
 
}
@media screen and (max-width: 600px) {
  .static h1 {font-size: 34px}
 
}