.row {
	display:inline;
	padding-bottom: 550px;
		border-style: solid;
	border-color: red;
}

.related-img {
	
	max-width:100px;
}

.related-product{
	float: left;
}

#push {
	width:100%;
	height:50px;
	border-style: solid;
	border-color: red;
}

