<!DOCTYPE html>
<html>
  <head>
  <%= render "partials/meta" %>
  </head>

  <body>
	<%= render "partials/header" %>
	<div id="maincontent">
  		<%= yield %>
      <div class="clearFloat"></div>
  		<%= render "partials/footer" %>
  	</div>
    
  </body>
</html>
